{% extends "base.html" %}

{% block content %}
<section id="about" class="about" style="background-color: black;">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2 style="color: bisque;">About Us</h2>
      </div>

      <div class="row content" style="color: blanchedalmond;">
        <div class="col-lg-6">
          <p>
            {{output}}
              Kumar Solutions is a Mechanical Design and Software Development Company. Kumar Solutions is rapidly
              growing company, which was established in January 2008. The major operations of the company are held in
              Pune.
              We believe in providing high quality, cost effective solutions to clients PAN INDIA. Kumar Solutions has
              the capability to draw upon the Successful Management and Technical Expertise of professionals having wide
              Spectrum of industrial experience in Multiple Technologies.
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
            <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
            <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
              Kumar Solutions offers Solution services in the several domains, such as Software development, Website
              Development, Software Testing, Maintenance and Support, Mechanical Product Design, Corporate Training for
              IT and Mechanical, Human Outsourcing, etc.We provide multiple services in multiple sectors. We are
              committed for the Quality, Efficiency and Timeliness of Our Deliverables with high focus on maximum
              customer Satisfaction. Client satisfaction is our ultimate goal.
          </p>
          <a href="#" class="btn-learn-more">Learn More</a>
        </div>
      </div>

    </div>
  </section>

{% endblock %}