{% extends "base.html" %}

{% block content %}




<section id="service" class="feature-area section-gap">
    <div class="container" data-aos="fade-up">

      <div class="row d-flex justify-content-center">
          <div class="menu-content pb-60 col-lg-8">
            <div class="title text-center">
                <h1 class="mb-10">Calculator</h1>

            </div>
          </div>
      </div>

      <div class="row">

        <div class="col-lg-12 d-flex align-items-stretch">
          <form method="post"> 
            {% csrf_token %}
            <label for="name">value1</label>
            <input type="text" name="num1" value="{{n1}}" class="form-control" />
            <label for="name">operations</label>
            <select name="opr" class="form-control">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>

            </select>
            <label for="name">value2</label>
            <input type="text" name="num2" value="{{n2}}"class="form-control" />
            <button type="submit">calculate</button></div></br>
            <label>output</label>
            <input type="text" value="{{c}}" class="form-control"/> 
            
          </form>
        </div>

      </div>

    </div>
  </section>



{% endblock %}